<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinghang.android.TaskTracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.jinghang.android.TaskTracker.TaskTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/task"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name="com.jinghang.android.TaskTracker.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.jinghang.android.TaskTracker.TaskDueReceiver" />
    </application>

</manifest>